/* Universal Reset for Body */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}

body {
  position: relative;
  background-color: #e6c8f756; 
  background-image: 
    linear-gradient(to right, #bfbebe80 1px, transparent 1px), 
    linear-gradient(to bottom, #bfbebe80 1px, transparent 1px), 
    radial-gradient(circle 800px at 100% 200px, rgba(213, 197, 255, 0.5), transparent);
  background-size: 6rem 4rem, 6rem 4rem, auto;
  background-repeat: repeat, repeat, no-repeat;
  background-position: top left, top left, center;
}

/* Dark Mode Support */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    background-image: 
      linear-gradient(to right, #333 1px, transparent 1px), 
      linear-gradient(to bottom, #333 1px, transparent 1px), 
      radial-gradient(circle 800px at 100% 200px, rgba(114, 82, 138, 0.5), transparent);
  }
}
